<meta charset="utf-8" />
<link rel="alternate" type="application/atom+xml" title="Recent Entries" href="/feed.xml">
<link rel="icon" href="/images/icons/avatar.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/style/css/bootstrap.css" media="screen">
<script src="/style/jquery-1.7.1.min.js"></script>
<link rel="stylesheet" href="/style/style.css?=cache">